# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# environment variables file
.env

# Go workspace file
go.work

# Ignore pharmacies and medicines images
go_backend/internal/images/pharmacies/*
go_backend/internal/images/medicines/*

.vscode/

# Ignore flutter jank metrics
flutter_frontend/flutter_jank_metrics_*.json
flutter_frontend/devtools_options.yaml
